<h1>Angular Crud Practice</h1>
<hr>
<h2>List Of Resources</h2>
<hr>

<button class="btn" routerLink="/post" >Click to view Posts Table Data</button> &nbsp;&nbsp;&nbsp;
<button class="btn" routerLink="/comment">Click to view Comments Table Data</button> &nbsp;&nbsp;&nbsp;
<button class="btn" routerLink="/albums">Click to view Albums Table Data</button> &nbsp;&nbsp;&nbsp;
<button class="btn" routerLink="/users">Click to view Users Table Data</button> &nbsp;&nbsp;&nbsp;
<p class="vl"></p><hr>
<button class="btn"  routerLink="/usersParent">Click to view Users Table Data</button> &nbsp;&nbsp;&nbsp;
<button class="btn" routerLink="/albumsParent">Click to view Albums Table Data</button> &nbsp;&nbsp;&nbsp;
<button class="btn" routerLink="/postDataParent">Click to view Post Table Data</button> &nbsp;&nbsp;&nbsp;
<br>
<hr><br>

